@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

*{
    font-family: work sans;
}

body{
    margin: none;
}

.logotipoCab{
    width: 150px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 50px
}

.cab{
    transition: all 0.7s ease;
    display: flex;
    justify-content: center;
    gap: 12%;
    background-color: #003894;
    padding-left: 10%;
    padding-right: 10%;
}

#cabecalho{
    display: flex;
    justify-content: space-between;
    margin: auto;
    flex-basis: 1400px;
}

header nav{
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin-top: 10px;
    margin-bottom: 10px;
}

.ulCab{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    list-style-type: none;
    column-gap: 30px;
    row-gap: 10px;
    padding: 0px;
    font-weight: 600;
}

.ulCab li{
}

li a{
    text-decoration: none;
    color: white;
    font-size: 20px;
    /*white-space: nowrap;*/
}

  /*Banner*/
@media (min-width: 1500px) {

    .carrossel1{
        transition: all 0.7s ease;
        padding-right: 10%;
        padding-left: 5%;
    }
    
    .cab{
        transition: all 0.7s ease;
        padding-right: 10%;
        padding-left: 13%;
    }
}

.carrossel1{
    transition: all 0.7s ease;
    background-color: #453F36;
    display: flex;
    justify-content: space-between;
    height: 400px;
}
  .chamadaBanner{
    flex: 1;
    color: white;
    display: flex;
    align-content: flex-end;
    flex-wrap: wrap;
  }

  .chamadaBanner hr{
    margin-left: 20%;
    margin-bottom: 70px;
    width: 90%;
    background-color: #FFD2B3;
  }

  .chamadaBanner p{
    margin-left: 20%;
    font-size: clamp(35px, 4vw, 45px);
    font-weight: 500;
    width: 70%;
    padding-right: 40px;
    max-width: 450px;
  }

  .contImgBanner{
    width: 50%;
    min-width: 400px;
    overflow: hidden;
    display: flex;
  }

  .imgBanner{
    width: 100%;
    object-fit: cover;
  }
  #imgBanner {
  transition: opacity 0.5s ease;
}

#chamadaBanner {
  transition: background-color 0.5s ease;
}

#textoBanner {
  transition: opacity 0.5s ease;
}

  /**/
.container1{
    overflow: hidden;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('./links/mapa Sobradinho 2.png');
    background-size: cover;
    background-position: center bottom;
    font-size: 25px;
    text-align: center;
}

.container1 img{
    width: 90px;
    filter: drop-shadow(1px 3px 2px rgba(0,0,0,0.5));
}

.centrar{
    max-width: 400px;
}

.centrar img{
    margin: auto;
    display: flex;
    justify-content: center; /* alinha horizontalmente */
    align-items: center; 
}

.secao1{
    max-width: 1400px;
    text-align: center;
    display: flex;
    flex-direction: column; 
    align-items: center; 
    margin: auto;
    padding-left: 30px;
    padding-right: 30px;
  }

#containerBt1{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#containerBt1 a{
    margin: 20px;
}

hr{
    width: 60%;
    height: 2px;
    background-color: #FFCC00;
    border: none;
    margin: 20px 0;
}

.secao1 ul{
    text-align: left;
    max-width: 650px;
}

.secao1 h3{
    font-size: 30px;
}

.secao1 li{
    font-size: 20px;
}

.secao1 h2{
    font-size: 40px;
    margin-top: 60px;
}







footer{
    background-color: #003894;
    color: white;
    margin-top: 50px;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 20px;
}

footer::selection {
  background: #2f2f2f;  /* cor do fundo da seleção */
  color: white;         /* cor do texto selecionado */
}

footer hr{
    width: 100%;
}

footer h2{

    font-size: 22px;
}

#secaorp {
    max-width: 1400px;
    text-align: center;
    display: flex;
    flex-direction: column; 
    margin: auto;
}

.secaorp2{
  display: flex;
  justify-content: space-around;    /* centraliza horizontalmente */
  align-items: flex-start;
  row-gap: 30px;
}

#containerRp1{
    display: flex;
    justify-content: flex-start;
    padding-left: 5%;
}

#containerRp1 h2{
    margin-left: auto;
    margin-right: auto;
    position: relative;
    right: 5%;    
}

.colrp{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 20px;
    margin-right: 20px;
    row-gap: 10px;
    text-align: left;
}

.colrp *{
    margin: 0px;
}

#copy{
    max-width: 1400px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 30px;
    padding-bottom: 30px;
    text-align: center;
    margin-bottom: 0px;
}








.icone{
    max-height: 90%;
}

a img{
    margin-left: 10px;
    margin-right: 20px;
}

.btGm{
    width: 200px;
    height: 40px;
    margin-top: 15px;
    display: flex;
    align-items: center;
    font-weight: bold;
    color: white;
    font-size: 15px;
    width: 250px;
    background-color: rgb(205, 18, 18);
    border: none;
    text-decoration: none;
}

.btWp{
    width: 200px;
    height: 40px;
    display: flex;
    align-items: center;
    font-weight: bold;
    color: white;
    font-size: 15px;
    background: linear-gradient(to bottom, #44EC62, #20CC42);
    border-radius: 10px;
    border: none;
    text-decoration: none;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.5);
}

#btCm2{
    background-color: #1760D8;
    border-radius: 0px;
    text-decoration: none;
}

#btWp2{
    border-radius: 0px;
    text-decoration: none;
}

#btCm2 img{
    max-height: 60%;
}

#btWp2 img{
    max-height: 70%;
}

.btGm img{
    position: relative;
    bottom: 3px;
}

.btCm{
    width: 200px;
    height: 40px;
    display: flex;
    align-items: center;
    font-weight: bold;
    color: white;
    font-size: 15px;
    border-radius: 10px;
    border: none;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.5);
}

#btWp1, #btCm1{
    display: flex;
    justify-content: center;
    padding-right: 20px;
    width: 300px;
    height: 50px;
    font-size: 22px;
    text-decoration: none;
}

#btCm1{
    background: linear-gradient(to bottom, #1760D8, #0244B0);
    text-decoration: none;
}


  .secao1 h2{
    font-size: 35px;
    margin-bottom: 5px;
    margin-top: 30px;
  }



  #btWp2{
    margin-top: 10px;
  }

  #btWp2, #btCm2, .btGm{
    width: 250px;
    display: flex;
    justify-content: center;
    font-size: 17px;
    gap: 20px;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2);
  }